# Python Essentials

---

# Comment

In [ ]:
# Python will ignore this...
# For human eyes only.

---

# Numbers
- Integers
- Floats (decimals)

#### Addition

In [ ]:
5+2

#### Subtraction

In [ ]:
5-2

#### Multiplication

In [ ]:
5*2

#### Division

In [ ]:
5/2

##### Floor division - returns only the whole part following division

In [ ]:
5//2

#### Modulus (remainder)

In [ ]:
5%2

#### Exponentiation

In [ ]:
5**2

---

# Variables
   - can only be one word
   - can use only letters, numbers, and the underscore (_) character
   - canâ€™t begin with a number
   - are case-sensitive (data, Data and DATA would be different variable names)

In [ ]:
red = 3
green = 2

In [ ]:
apples = red + green

apples

---

# String

#### Single quotes

In [ ]:
'This is fun!'

#### Double quotes

In [ ]:
"Isn't this fun?"

---

# Print()

In [ ]:
print("apples")

In [ ]:
print(apples)

### Print formating

In [ ]:
name = "Angela"

print("{} ate all {} of the apples.".format(name, apples))

#### f-string

In [ ]:
print(f"{name} ate all {apples} of the apples.")

---

# List
### Create a list using square brackets

In [ ]:
# Create a list using square brackets

L = [1, 2, 3, 4, 5]

L

### Accessing values

In [ ]:
# Access list items using index notation. The first item is at index position 0.

# List:                [1, 2, 3, 4, 5]
# index position:       0  1  2  3  4 

L[0]

### Replace an item in a list

In [ ]:
L[1] = "two"

L

### Get the (length) number of items in a data structure

In [ ]:
len(L)

### Sort

In [ ]:
L2 = [55, 21, 34, 12, 8, 9]

# Function
sorted(L2)  # returns a new sorted list

# Method
#L2.sort()  # sorts the list in place

In [ ]:
L2

### Concatenate a list

In [ ]:
[96, 97] + [98, 99]

### Extend a list

In [ ]:
[1,2,3]*2

### List slicing

In [ ]:
L3 = [1,2,3,4,5]

In [ ]:
L3[0:3]

In [ ]:
L3[3:]

In [ ]:
# Use negatives to count from the end of the list

L3[-1]      # returns the last item

In [ ]:
# Returns the third item from the end

L3[-3]

In [ ]:
# Returns the last 3 items (third item from the end and everything else)

L3[-3:]

In [ ]:
# Returns all of the items

L3[:]

In [ ]:
# A second colon (:) can be used to indicate step-size. 
# list[start:stop:stepsize]

# returns every second item
L3[::2]

In [ ]:
# Reverses the order of the list

# display every item, beginning from the end
L3[::-1]

---

# Tuple
### Create a tuple using parentheses

In [ ]:
a_tuple = ("Elvis", "Aaron", "Presley")

In [ ]:
a_tuple[0]

In [ ]:
# slicing

a_tuple[:2]

### A tuple can't be modified

In [ ]:
tup[0] = "ELVIS"     # immutable, will get an error

### Unpacking
Assign multiple values to multiple variables, all at once.

In [ ]:
first, middle, last = ("Elvis", "Aaron", "Presley")

print(first)

---

# Dictionary
Composed of key-value pairs.
### Create a dictionary using curly braces and colons

In [ ]:
employee = {"Name": "Sara Miller", "Position": ["Data Scientist", "2025"]}

### Accessing values in a dictionary

In [ ]:
employee["Name"]

In [ ]:
employee["Position"]#[1]

#### This is what the machine sees:

In [ ]:
["Data Scientist", "2025"][1]

### Adding data (key-value pairs) to a dictionary

In [ ]:
employee["Location"] = "San Francisco"

employee

---

# Set

Returns only the unique items.

### Create a set using curly braces

In [ ]:
{3, 2, 1, 1, 2, 3}

In [ ]:
a_list = ["Machine Learning", "Data Science", "Machine Learning", "AI", "Data Science", "AI"]

# Cast a list to a set
a_set = set(a_list)

# Alphabetizes the unique elements
a_set

---

# Boolean

In [ ]:
True

In [ ]:
False

### Comparison Operators

In [ ]:
# less than
1 < 2

In [ ]:
# greater than
1 > 2

In [ ]:
# less than or equal to
1 <= 2

In [ ]:
# greater than or equal to
1 >= 2

In [ ]:
# equal to
1 == 2

In [ ]:
# not equal to
1 != 2

In [ ]:
"meme" == "meme"

In [ ]:
"meme" == "mime"

### Inclusion/Exclusion

In [ ]:
data_science_list = ["Machine Learning", "Deep Learning", "Data Science"]

"AI" in data_science_list

In [ ]:
"AI" not in data_science_list

### Boolean Operators
and, or, not

In [ ]:
True and True

In [ ]:
# For example:

1 < 2 and 1 < 3

In [ ]:
True and False

In [ ]:
# For example:

1 < 2 and 3 < 1

In [ ]:
True or False

In [ ]:
# For example:

1 < 2 or 3 < 1

In [ ]:
# If you want to do something when a condition is False

not False

In [ ]:
# If the following condition is not True --> return True

not 3 < 1

---

## Conditional Statements

### if statement

In [ ]:
'''

if <condition>:
    block of code
--> blocks begin and end with indentation, traditionally 4 spaces

    if <condition>:
        block of code
        can be another if statement

if <condition>:
    block of code
    
''';

In [ ]:
if True:
    print("True")

In [ ]:
user_email = "me@myemail.com"
password = "my_password"

if user_email == "me@myemail.com": 
    if password == "my_password":
        print("You're in!")

In [ ]:
if 5<2: 
    print("True")

### elif statement
Test multiple conditions.

In [ ]:
'''

if <condition>:
    block of code
elif <condition):
    block of code

''';

In [ ]:
missing_values = 0

if missing_values == 0:
    print("Data quality is excellent.")
elif missing_values <= 5:
    print("Data quality is good.")
elif missing_values <= 10:
    print("Data quality is O.K.")

### else statement

In [ ]:
'''

if <condition>:
    block of code
else:
    block of code

''';

In [ ]:
missing_values = 15

if missing_values == 0:
    print("Data quality is excellent.")
elif missing_values <= 5:
    print("Data quality is good.")
elif missing_values <= 10:
    print("Data quality is O.K.")
else:
    print("Data quality is poor.")

---

## for Loop
When you want to perform some task for a given number of times.
### range()
Generates a list of values (beginning from 0, unless otherwise indicated).

In [ ]:
# By default, range(10) starts at 0 and EXCLUDES the stop value
# Use list() to display the range of numbers

# provide 10 numbers starting from 0

list(range(10))

### Loop through the list of values, one at a time, for as long as there are values in the list.

In [ ]:
for number in range(10):
    print(number)

#### This is what the machine sees:

In [ ]:
for number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(number)

### You don't have to use the values from the list.
You may just want to run some code N number of times.

In [ ]:
for number in range(10):
    print("Looping...")

### You can modify the start and stop values for the loop.

In [ ]:
# range(start, stop)

for num in range(1, 11):
    print(num)

### Loop through a list.

In [ ]:
skills_list = ["Data Science", "Machine Learning", "Generative AI"]

for skill in skills_list:
    print(skill)

---

# List Comprehension

Create a new list based on another list.

In [ ]:
# Create a list containing the squared value of the items from another list.

a_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[num**2 for num in a_list]

##### Create a copy of a list moving an item to the end

In [ ]:
# Create a list containing the items from another list, moving an indicated item to the end.

list_of_items = ["Last", "First", "Second", "Third"]

[item for item in list_of_items if item not in ["Last"]] + ["Last"]

---