# Pandas Introduction

In [ ]:
import pandas as pd
import numpy as np

## Series

In [ ]:
column = pd.Series([10,20,30,40,50])

column

In [ ]:
# Index access

column[0]

### Element-wise operations

In [ ]:
ages = pd.Series([31,22,43,44,55])

ages

In [ ]:
ages * 2

In [ ]:
ages + 10

### Boolean selection

In [ ]:
ages>40

In [ ]:
# Returns the rows that are True

ages[ages>40]

#### What the machine sees

In [ ]:
# Returns the rows that are True

ages[[False, False, True, True, True]]

---

## DataFrame

In [ ]:
# Create a DataFrame using a dictionary

data = {"Name": ["Tim Miller", "Ann Carter", "Ellen Lee", "Sam Carr", "Al Ball", "Carl Zee", "Sara Martin"], 
        "Gender": ["Male", "Female", "Female", "Male", "Male", "Male", "Female"],
        "Age": [32, 44, 21, 19, 45, 27, 39]}

df = pd.DataFrame(data)

df

#### head()

In [ ]:
# Display first 5 rows

df.head() # == df.head(5)

#### tail()

In [ ]:
# Display last 5 rows

df.tail()  # == df.tail(5)

In [ ]:
# Returns a column/Series

df['Name']     # dictionary notation

In [ ]:
df.Name   # attribute notation; with tab completion

#### Assignment

In [ ]:
# Add a column and assign a single value to every row in the column

df["Birth Year"] = 1989

df

In [ ]:
# Add a column and assign specific values to the rows in the column

df["Married"] = ['Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No']     # must match the length of the DataFrame

df

---

## Selection and Filtering

In [ ]:
# Create a new DataFrame

df = pd.DataFrame(np.arange(100).reshape(10,10), columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

df

### Column selection

In [ ]:
df['a']

In [ ]:
df[["a", "e", "j"]]   # providing a list selects multiple columns

In [ ]:
df[["j", "e", "a"]]

### Row selection

In [ ]:
df[:1]     # use slice syntax to select rows

In [ ]:
df[5:9]

In [ ]:
# Boolean

df["j"] > 40

#### Boolean selection

In [ ]:
# Return the rows that are True
# Return the rows where the value in column "j" is greater than 40

df[df["j"] > 40]

---

## Row and Column selection with **loc**
Allows you to select a subset of the rows and columns using the **label/name** of the row/column

##### **loc()** is inclusive regarding the name of the row/column 
(Unless a row has been given a name, its index position is also its name.)

In [ ]:
df.loc[:5, "b"]

#### Using a **`:`** selects consecutive rows/columns

In [ ]:
df.loc[5:9, 'a':'e']

#### Providing a **list** selects only the rows/columns listed

In [ ]:
df.loc[[1, 3, 5], ['c', 'f', 'i']]

---

## Row and Column selection with iloc
Allows you to select a subset of the rows and columns using the **index position** of the row/column
##### **iloc()** is exclusive regarding the index of the row/column

In [ ]:
df.iloc[2:6, 2:6]

#### Selects all rows. Selects all columns except the last one.

In [ ]:
df.iloc[:, :-1]

#### Selects all rows. Selects only the last column.

In [ ]:
df.iloc[:, -1]

#### Selects the listed rows in the given order. Selects the listed columns in the given order.

In [ ]:
df.iloc[[5, 0, 3], [9, 5, 0]]  # Returns rows and columns in the order listed

---

---

# Data Acquisition

## xlsx (Excel)

In [ ]:
# (For Pandas to access Excel files)
#!pip install openpyxl

In [ ]:
excel_df = pd.read_excel("Olympics.xlsx", sheet_name=0)

excel_df.head()

## json

In [ ]:
# Using pandas

json_df = pd.read_json("Olympics.json", orient="records")

json_df.head()

#### Another json method

In [ ]:
# Using json library
import json

with open("Olympics.json", 'r') as f:
    datastore = json.load(f)
    
json_df2 = pd.DataFrame(datastore)

json_df2.head()

## csv
(Comma Separated Values)

In [ ]:
csv_df = pd.read_csv("Olympics.csv")

csv_df.head()

## tsv
(Tab Separated Values)

In [ ]:
tsv_df = pd.read_csv("Olympics.tsv", sep="\t") #  "\t" is the tab character

tsv_df.head()

## mysql

**host** — Provides the hostName of MySQL server. Normally, if installed on local machine, it's termed ‘localhost’. In cases like cloud / dedicated third party server, provide the IP address.

**database** - Provides the name of the database to use.

**user & password** - The credentials to access the database.

**use_pure** — Symbolize Python implementation

In [ ]:
# pip install mysql-connector-python

import mysql.connector as connection

try:  
    mydb = connection.connect(host="localhost", database ='Student', user="root", passwd="root", use_pure=True)  
    query = "Select * from studentdetails;"  # SQL query to be executed or a table name.
    result_dataFrame = pd.read_sql(query, mydb)  # Result of the SQL query.
    mydb.close() # close the connection
except Exception as e:  
    mydb.close()  
    print(str(e))

# Output result to .csv
result_dataFrame.to_csv('my_sql.csv')

#### MySQLdb

In [ ]:
# pip install mysqlclient

import MySQLdb
import pandas.io.sql as psql


# setup the database connection.
db=MySQLdb.connect(host=HOST, user=USER, passwd=PW, db=DBNAME)

# create the query
query = "select * from TABLENAME"

# execute the query and assign it to a pandas dataframe
df = psql.read_sql(query, con=db)
# close the database connection
db.close()


# Output result to .csv
df.to_csv('my_sql.csv')

#### SQLAlchemy method

In [ ]:
import sqlalchemy as sql

# USER is your username, PW is your password, DBHOST is the database host,  DB is the database you want to connect to.
connect_string = 'mysql://USER:PW@DBHOST/DB'
sql_engine = sql.create_engine(connect_string)

# You don't need to worry about cursors or opening/closing database connections.
query = "select * from TABLENAME"
df = pd.read_sql_query(query, sql_engine)

# Output result to .csv
df.to_csv('my_sql.csv')

---

# Data Exploration

## Preview dataset

In [ ]:
df = pd.read_csv("Olympics.csv")

df.head()

#### Return a random sample of rows from the dataset

In [ ]:
df.sample(10)

#### Get the number of rows and columns in the dataset

In [ ]:
# (#rows, #columns)

df.shape

---

## Feature Selection (drop)
**axis = 0** refers to rows; **axis = 1** refers to columns

In [ ]:
# drop features; returns a copy

df = df.drop(['id', 'name'], axis=1)

df.head()

---

## Descriptive and summary statistics

In [ ]:
df.info()

### Describe the numerical data

In [ ]:
df.describe()

### Useful methods for describing numerical data

In [ ]:
df["height"].min()

In [ ]:
df["height"].max()

In [ ]:
df["height"].mean()

In [ ]:
df["gold"].sum()

---

### Describe the categorical columns

In [ ]:
df.describe(include="object")

---

### Display the unique values within a column

In [ ]:
df["sport"].unique()

In [ ]:
# Alphabetizes results

set(df["sport"])

### Display the number of unique values

In [ ]:
df["sport"].nunique()

In [ ]:
len(df["sport"].unique())

---

# Getting Help

### Use a "?" (or shift + tab) for function/method signature and Docstring (description)

In [ ]:
pd.read_excel?

### Use dot-tab to view object methods

In [ ]:
#df.

---

## Feature Transformation

In [ ]:
df.head()

#### Transform **height and weight** from **meters and kg** to **inches and pounds**, respectively.

In [ ]:
# 1 meter = 39.3700787 inches
# 1 kg = 2.20462262 pounds

inches = 39.3700787
pounds = 2.20462262

# Element-wise operations
df["height(in)"] = df["height"]*inches
df["weight(lbs)"] = df["weight"]*pounds 

df.head()

---

## Feature Engineering
### Engineer a "bmi" column by combining height and weight.

In [ ]:
# Combine height and weight into "bmi" feature
# bmi = weight(kg)/height(m)**2

df["bmi"] = df["weight"]/(df["height"]**2)
df.head()

### Engineer a column representing total medals won

In [ ]:
df["medal_ct"] = df["gold"] + df["silver"] + df["bronze"]
df.head()

---

### Drop height and weight columns

In [ ]:
# axis = 1 means to drop columns

df = df.drop(["height", "weight", "height(in)", "weight(lbs)"], axis=1)

df.head()

---

---

## Get the top n of a feature

In [ ]:
# Sort the rows by the indicated column

df[["nationality", "sport", "medal_ct"]].nlargest(10, columns="medal_ct")

## Get the bottom n of a feature

In [ ]:
df[["nationality", "sport", "bmi"]].nsmallest(10, columns="bmi")

## Sort by a feature

In [ ]:
df[["nationality", "sport", "bmi"]].sort_values(by="bmi", ascending=True)

---

## Boolean Selection

In [ ]:
df["sport"]=="tennis"

In [ ]:
# isin() is like using an "or" statement

df["sport"].isin(["tennis", "table tennis"])

### Using boolean for row selection
Give me the rows that are either "tennis' or "table tennis"

In [ ]:
df.loc[df["sport"].isin(["tennis", "table tennis"]), ["sport", "sex"]]

---

## Useful methods

### mode()
"What's the most common sex for tennis and table tennis players, collectively?"

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sex"].mode()

### median()
"What's the median BMI for tennis and table tennis players, collectively?"

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "bmi"].median()

### sum()
#### Sum the values within a column in a selection
"How many total medals were won by tennis and table tennis players, collectively?"

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "medal_ct"].sum()

### count()
#### Returns the number of rows included in a selection
"How many athletes, in total, participated in tennis or table tennis?"

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sport"].count()

### value_counts()
#### Returns the count of each unique category within a column in a selection
"Of all of the athletes who participated in tennis or table tennis, how many were from each sport?"

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sport"].value_counts()

---

# Interview the data

### And (&) operation

#### "How many athletes are clinically obese and won a gold medal?"

In [ ]:
df.loc[(df["bmi"] >= 30) & (df["gold"] > 0), 'sport'].count()

#### "How many athletes are clinically underweight and compete for the USA?"

In [ ]:
df.loc[(df["bmi"] < 18.5) & (df["nationality"] == "USA"), "sport"].count()

### Or ( | ) operation

#### "How many athletes are either clinically underweight or clinically obese and won a gold medal, by sport?"

In [ ]:
df.loc[((df["bmi"] < 18.5) |
        (df["bmi"] >= 30)) & 
        (df["gold"] > 0), "sport"].value_counts()

---

---

## Export DataFrame

### to csv

In [ ]:
#df.to_csv("my_data.csv", index=False)

### to Excel

In [ ]:
#df.to_excel("my_data.xlsx", index=False)